.admin_container{
    display: flex;

   .admin{
        width:calc(100% - $asidenav_width);
        margin-left: 2%;
        
        .container{
            @include grid(7);
            gap:0.9em;
            padding: 0.9em 1.2em;

            .dashboard{
                background: #cacaca;
                padding: 0.1em;
                @include flex_center;
                flex-direction: row;
                gap:0.9em;
                border-radius: 16px;
                font-size: 1.1em;
                span,p{
                    padding: 0.2em 0;
                    font-weight: 550;
                }
                span{
                    @include flex_center;
                }

                i{
                    font-size: 1.3em;
                }

            }
        }
    }
}