.navbar_container{
    @include flex_center;
    justify-content: space-between;
    padding: 0 0.9em;
    box-shadow: 2px 2px 4px $brand-color;
    height: 10vh;
    backdrop-filter: blur(4px);
    position: sticky;
    left: 0;
    top:0;
    z-index: 100;


    .logo{
        @include flex_center;
        flex-direction: row;
        gap:0.3em;

        img{
            border-radius: 50%;
        }
        a{
            font-size: 1.2em;
            text-decoration: none;
            color: $brand-color;
            font-weight: bold;
        }
    }

    .nav_links{
       ul{
            @include flex-center;
            flex-direction: row;
            list-style: none;
            
            li{
                padding: 0 0.5em;

                .active{
                    background: grey;
                }

                a{
                    text-decoration: none;
                    color: $brand-color;
                    font-size: 1.1em;
                    font-weight: bold;
                    position: relative;

                    &:hover{
                        color: $accent-color;
                    }
                    
                    .fa-cart-plus{
                        font-size: 1.1em;
                        padding: 0 0.3em;

                        span{
                            position: absolute;
                            top:-0.3em;
                            color:$price-color;
                        }
                    }
                }
            }

            .profiles{
                display: flex;
                align-items: center;
                gap:1em;
    
                a {
                    border: 2px solid $brand-color;
                    color: $brand-color;
                    border-radius: 32px;
                }

                .profile {
                    @include flex-center;
                    padding: 0.3em;
                    border-radius: 50%;
                }

                form {
                    button {
                        padding: 8px 16px;
                        border-radius: 20px !important;
                        cursor: pointer;
                        background: red;
                    }
                }

                ul {
                    display: none;
                }
                button{
                    border-radius: 20px;
                    padding: 0.5em 0.8em;
                    a{
                        color:$secondary-color;
                    }
                }
            }
       }

    }
    .burger{
        display: none;
        cursor: pointer;

        span{
            height: 3px;
            width: 30px;
            display: block;
            margin: 0.5em 0;
            background-color: $brand-color;
        }
    }
}



@media screen and (width <=726px) {
    .navbar_container{
        .nav_links{
            display: none;

            ul {
                display: none;
                width: 50%;
                height: 60vh;
                background:#e3e3e3;
                position: absolute;
                flex-direction: column;
                align-items: flex-end;
                padding: 0.5em 1em;
                gap: 1.5em 0;
                top: 11vh;
                right: 0.1em;

                li {
                    width: 80%;
                    margin: auto;
                }

                .cart {
                    span {
                        position: unset;
                    }
                }

                .profiles{
                    flex-direction: column;
                    gap:0.5em;

                    button{
                        margin: 0.3em 0;
                        padding: 0.3em 0.9em;
                    }
                }
            }
        }

        .show{
            display: block !important;

            ul{
                display: flex;
            }
        }

        .burger{
            display: block;
        }

        .active_burger{
            span {
                transition: transform 0.3s ease, opacity 0.3s ease;
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-7px, 8px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg) translate(-7px, -8px);
                }
            }
        }  
    }
}