table{
    padding: 0.9em 0;
    width: 95%;

    thead{
        background: $brand-color;
        color: $secondary-color;

        th{
            padding: 0.3em 0.9em;
        }
    }
    tbody{
        tr{
            td{
                padding: 0.2em;
                font-weight: 550;

                .icons{
                    @include flex_center;
                    gap: 1.2em;
                    cursor: pointer;

                    .fa-pencil-alt{
                        color:green;
                    }
                    .fa-trash-alt{
                        color:red;
                    }
                }
            }
        }
    }
}